parameters:
  database_driver:   mysql
  database_host:     localhost
  database_port:     ~
  database_name:     propel-demo
  database_user:     propel-demo
  database_password:

  secret:            ThisTokenIsNotSoSecretChangeIt
