body {
    padding-top: 60px;
}
article {
    margin-bottom: 10px;
}
.comments h3 {
    color: #999;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}
hr.soften {
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    border: 0;
    height: 1px;
    margin: 20px 0;
}
